<div class="container">
  <canvas class="webgl"></canvas>
  <div class="inner-container">
    <div class="alignCenter">
      <div class="outer-landing">
        <div class="inner-landing">
          <p class="title">Crew Connect</p>
          <p class="subtitle">
            Empower your conversations with group chat feature.
          </p>
          <button type="button" [routerLink]="'/create-room'" class="button">
            Create Room
          </button>
          <button type="button" [routerLink]="'/login'" class="button">
            Join Room
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
