<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">

<div style="overflow-y: hidden;">
    <div class="alignCenter">
        <div style="display: flex; justify-content: space-around; align-items: center; width: 100%;">
            <div>
                <h1>Welcome to the Chat Application</h1>
                <br>
                <button [routerLink]="'/login'" >Login</button>
            </div>
            <div>
                <app-globe></app-globe>
            </div>
        </div>
    </div>
</div>

