.alignCenter {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
  width: 100%;
  text-align: center;
  color: white;
  font-family: "Montserrat", sans-serif;
}
.inner-landing {
  overflow: hidden;
  h: auto;
}
.outer-landing {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
.inner-container {
  overflow-y: hidden;
  overflow-x: hidden;
}
