<div style="height:98vh; display:flex; flex-direction: column; justify-content: space-between;">
    <div>
        <app-header [show_button]="true"></app-header>
    </div>
    <div>
        <h1 class="text-center text-4xl mb-10">{{groupName}}</h1>
        <div style="display: flex; justify-content: space-around; align-items: center; width: 100%;">
            <div>
                <!-- <span *ngFor="let users of all_users; let last = last">{{ users }}{{ !last ? ', ' : '' }}</span> -->
                <div id="chatDiv" #scroll style="height: 800px; width: 850px; background: url('https://media.istockphoto.com/id/1419410282/photo/silent-forest-in-spring-with-beautiful-bright-sun-rays.jpg?s=2048x2048&w=is&k=20&c=t9_zg20wVbrBoGn0tw__1fFq4ykeKs15TQQ3x-ehVC0='); color: white; overflow-y: scroll; border-radius: 5px;">
                    <!-- <h1 >
                        {{messages.userName}} : {{messages.message}} on {{messages.sendOn | date}}
                    </h1> -->
                    <div *ngFor="let messages of all_messages">
                        <div *ngIf="messages.userName.length == 0; else not_logged_in_user" class="text-center mt-1">
                            <span class="badge p-3">{{messages.message}} on {{messages.sendOn | date: 'h:mm a, MMM d'}}</span>
                        </div>
                        <ng-template #not_logged_in_user>
                            <div class="chat chat-start" *ngIf="messages.userName != logged_user; else logged_in_user">
                                <div class="chat-image avatar">
                                    <div class="w-10 rounded-full ml-2 mb-1">
                                        <img src="{{messages.imageUrl}}" />
                                    </div>
                                </div>
                                <div class="chat-header mb-1">
                                    {{messages.userName}}
                                    <time class="text-xs opacity-50">{{messages.sendOn | date: 'h:mm a, MMM d'}}</time>
                                </div>
                                <div class="chat-bubble">{{messages.message}}</div>
                            </div>
                        </ng-template>
                        <br>
                        <ng-template #logged_in_user>
                            <div class="chat chat-end" >
                                <div class="chat-image avatar">
                                    <div class="w-10 rounded-full mr-2 mb-1">
                                        <img src="{{messages.imageUrl}}" />
                                    </div>
                                </div>
                                <div class="chat-header mb-1">
                                    <time class="text-xs opacity-50">{{messages.sendOn | date: 'h:mm a, MMM d'}}</time>
                                </div>
                                <div class="chat-bubble">{{messages.message}}</div>
                            </div>
                        </ng-template>
                    </div>
                </div>

                <form [formGroup]="sendMessageForm">
                    <label for="chat" class="sr-only">Your message</label>
                    <div class="flex items-center px-3 py-2 rounded-lg bg-gray-50 dark:bg-gray-700">
                        <input type="text" formControlName="message_user"
                            class="bg-white-50 border border-white-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-white-700 dark:border-white-600 dark:placeholder-white-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                            placeholder="Your message..." required>
                        <button type="submit" [disabled]="sendMessageForm.invalid" (click)="sendMessage()"
                            class="ml-2 inline-flex justify-center p-2 text-blue-600 rounded-md cursor-pointer hover:bg-blue-100 dark:text-blue-500 dark:hover:bg-gray-600">
                            <svg class="w-5 h-5 rotate-90 mb-0.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                                fill="currentColor" viewBox="0 0 18 20">
                                <path
                                    d="m17.914 18.594-8-18a1 1 0 0 0-1.828 0l-8 18a1 1 0 0 0 1.157 1.376L8 18.281V9a1 1 0 0 1 2 0v9.281l6.758 1.689a1 1 0 0 0 1.156-1.376Z" />
                            </svg>
                            <span class="sr-only">Send message</span>
                        </button>
                    </div>
                </form>
            </div>


        </div>
    </div>
    <div>
        <app-footer></app-footer>
    </div>
</div>