.loginAlign {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.formAlign {
  width: 20%;
  margin: 0 auto;
}

@media screen and (max-width: 1000px) {
  .loginAlign img {
    width: 60%;
    margin: 2rem auto;
  }

  .formAlign {
    width: 40%;
    margin-bottom: 2rem;
  }
}
