<div style="height:98vh; display:flex; flex-direction: column; justify-content: space-between;">
    <div>
        <app-header></app-header>
    </div>
    <div>
        <div style="width: 90%; margin: 0 auto;">
            <div class="loginAlign">
                <div>
                    <img src="../../../assets/img/chat2.png" alt="">
                </div>
                <div class="formAlign">
                    <form [formGroup]="createGroupForm">

                        <div class="mb-6">
                            <label for="name"
                                class="block mb-2 text-sm font-medium text-white-900 dark:text-white">Admin
                                Email</label>
                            <input type="text" formControlName="adminName" #adminNameInput
                                class="bg-white-50 border border-white-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-white-700 dark:border-white-600 dark:text-white"
                                required autofocus>
                        </div>
                        <div class="mb-6">
                            <label for="room"
                                class="block mb-2 text-sm font-medium text-white-900 dark:text-white">Group
                                Name</label>
                            <input type="text" formControlName="groupName"
                                class="bg-white-50 border border-white-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-white-700 dark:border-white-600 dark:text-white"
                                required>
                        </div>
                        <button type="submit" [disabled]="createGroupForm.invalid" (click)="createRoom()"
                            class="text-white bg-green-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Create
                            Room</button>

                    </form>
                </div>
            </div>
        </div>
    </div>
    <div>
        <app-footer></app-footer>
    </div>
</div>